

<footer>
    <ul>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <span>
        <a href="#">&copy; Lucas Staszewski</a>
    </span>
</footer>

</body>
</html>