<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../public/styles.css">
    <script src="https://kit.fontawesome.com/f2859b61d8.js" crossorigin="anonymous"></script>
    <title><%= title %>></title>
</head>
<body>

<header>
    <nav>
        <h2>Prisma Drive</h2>

        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section id="tools">
        <ul>
            <li>New File</li>
            <li>New Folder</li>
        </ul>
    </section>
</header>